@media screen and (max-width: 960px) {
  .mobile {
    transform: translateX(-500px);
    transition: ease-in-out 1s;
  }
  .mobile.active {
    transform: translateX(0);
    transition: ease-in-out 1s;
  }
  .navbar .nav-ul {
    display: none;
  }
  .navbar .nav-ul.show {
    transform: translateX(0);
    transition: ease 400ms;
  }
  .hamburger {
    display: block;
  }
  /* Main */
  .main {
    padding-top: 70px;
    text-align: center;
  }
  .main .flex-info {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 10px;
  }
  /* .main img {
    width: 360px;
  } */

  .main .text {
    margin-left: 0px;
    padding: 0 40px;
  }
}
