/* container */

.container {
  padding: 0 25px;
  height: 100%;
  max-width: 1280px;
  margin: auto;
}

.nav-wrap {
  position: relative;
  max-width: 1680px;
  margin: auto;
}

/* Other */
a.current {
  color: var(--primary-color-second);
}

.title {
  font-size: 65px;
  text-align: center;
  padding: 25px 0 0px 0;
  margin-top: 70px;
}

.title_description {
  font-size: 20px;
  padding: 5px 80px 30px;
  text-align: center;
  line-height: 1;
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 20px 60px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: var(--secondary-color);
  background: var(--primary-color);
  border: none;
  border-radius: 40px;
  transition: all ease-in-out 100ms;
}

.btn#appear_itm {
  transform: translate(0, 20px);
}
.btn:hover {
  color: var(--primary-color);
  background: var(--primary-color-second);
}

.btn-second {
  color: var(--primary-color);
  background: var(--secondary-color);
}
.btn-second:hover {
  color: var(--secondary-color);
}

/* Modal */

.modal {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  transition: all 500ms ease-out;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
}

.modal.activated {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 100;
}
.modal img {
  position: relative;
  width: auto;
  height: auto;
  max-width: 70vw;
  max-height: 70vh;
  object-fit: cover;
  padding: 20px 20px 0px 20px;
}
.modal .choose_img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: -1;
}
.modal .choose_img img,
.modal .choose_img p {
  /* display: block; */
  max-width: 80px;
  max-height: 80px;
  padding: 0;
  margin: 20px 0px 0px 20px;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: 350ms ease-in-out;
}
.modal .choose_img p {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  padding: 4px 4px 6px 4px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0);
  color: var(--primary-color);
}
.modal .choose_img p.current {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.modal .choose_img img.current {
  border: 3px solid var(--primary-color);
}
.modal .choose_img img:hover,
.modal .choose_img p:hover {
  border: 3px solid var(--primary-color-second);
}
.modal .choose_img .modal_choice {
  opacity: 0;
  transform: translate(-30px, 0);

  transition: 550ms ease-in-out;
}
.modal .choose_img .modal_choice.activated {
  opacity: 1;
  transform: translate(0, 0);
}
.modal .flex_artwork {
  display: flex;
  flex-direction: column;
}
.modal .flex_artwork > p {
  width: 70vw;
  text-align: justify;
  padding: 10px 20px 0px 20px;
  display: none;
}
.modal .flex_artwork p.show {
  display: block;
}
.modal .flex_artwork img.artwork,
.modal .flex_artwork .art_paragraph {
  transition: 250ms ease-in;
}
/* .modal .arrows {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: -20px;
  left: 50px;
}
.modal .arrows > * {
  position: relative;
  cursor: pointer;
  border: solid var(--primary-color);
  border-width: 0 5px 5px 0;
  padding: 5px;
  transition: 250ms ease-in-out;
}
.modal .arrows > *:hover {
  border-color: var(--primary-color-second);
}
.modal .arrows .left {
  position: relative;
  transform: rotate(135deg);
  left: -6px;
}
.modal .arrows .right {
  position: relative;
  transform: rotate(-45deg);
  left: 6px;
} */

.modal .art_description {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  left: 0;
  margin: 10px 0px 0px 0px;

  /* bottom: 100px; */
  font-size: 18px;
  /* border: red 5px solid; */
  transform: translate(0, 15px);
  transition: 550ms ease-in-out;
  opacity: 0;
}
.modal .art_description > * {
  padding: 0;
  margin: 0;
}
.modal .art_description.activated {
  transform: translate(0, 0);
  opacity: 1;
}

.modal .art_description p.art_title {
  font-size: 22px;
  line-height: 1.3;
}
.modal .modal_close {
  position: relative;
  margin-top: -50px;
  margin-left: -10px;
  /* padding-right: 15px; */
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 38px;
  font-weight: 300;
  transition: all ease-in-out 250ms;
  color: var(--primary-color);
  z-index: 1;
}

.modal .modal_close:hover {
  color: var(--primary-color-second);
}

.overlay_modal {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  pointer-events: none;
  z-index: 15;
  transition: 400ms ease-in-out;
}

.overlay_modal.activated {
  opacity: 1;
  pointer-events: all;
}

/* Show */

#appear.show {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#appear_itm {
  transform: none;
  visibility: hidden;
  opacity: 0;
  /* transform: translate(0, -40px); */
  transition: opacity ease-in-out 1s, transform ease-in-out 1s,
    background ease-in-out 350ms, color ease-in-out 350ms;
}
h1#appear_itm {
  transform: translateY(-15px);
}

.main img#appear_itm.main_show {
  transform: translateY(0);
}

#appear_itm.main_show {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}
#appear_itm_mobile {
  transform: none;
  visibility: hidden;
  opacity: 0;
  transition: 450ms ease-in-out;
}
#appear_itm_mobile.main_show {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}

#phone_number,
#email_address {
  transition: 250ms ease-in-out;
}
#phone_number:hover,
#email_address:hover {
  cursor: pointer;
  color: #fff;
}
